@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@600&family=Ramaraja&family=Yeseva+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Comfortaa', cursive;
    /* font-family: 'Ramaraja', serif; */
    /* font-family: 'Yeseva One', cursive;  */
}

:root {
    --main-bg: #1e272e;
    --main-color: #0097e6;
    --main-bg-buttons: #eeff00;
    /* --main-color: #000000; */
}

html {
    font-size: 62.5%;

}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}


/* To delete the row margin (TO DELETE HORIZONTAL */
.row {
    margin: 0;
}

.main_menu {
    background-color: var(--main-bg);


}


/* Navbar Styling */
.navbar {

    color: #ffff;
    background-color: var(--main-bg);
    padding: 1rem 0;
}

.navbar li {
    margin: 1rem;
}

.navbar a {
    color: #ffff;
    font-size: 2rem;
}

.navbar a:hover {
    color: var(--main-color);
}

.navbar-toggler {
    background-color: #fff;
    border-radius: 0.5rem;
}

.navbar-toggler-icon {
    background-color: var(--main-bg);
    border-radius: 0.5rem;
}



/* Main Header */
.main_header_left {
    height: 60rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.main_header_right {
    height: 60rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.main_header_right figure img {
    filter: drop-shadow(0 0.5rem 1rem rgba(0, 0, 0, 0.3));
}



.main_header_left p {
    font-size: 2.5rem;

}

.main_header_left h1 {
    font-size: 4.5rem;
    margin: 1rem 0 4rem 0;
    text-transform: capitalize;
    font-family: 'Yeseva One', cursive;
}

.main_header_left_h1 {
    color: var(--main-color);
}

.main_header_left button {
    border: none;
    color: #000;
    padding: 1rem 1rem;
    font-size: 2rem;
    border-radius: 2rem;
    text-transform: uppercase;
    box-shadow: 0 10px 15px -6px #000;
    background-color: var(--main-bg-buttons);
}

.main_header_left button:hover {
    box-shadow: 0 10px 15px -6px var(--main-bg-buttons);
}




/* ------------------ weather page styling | Styling the temperature tiles ------------------ */


/* input field : */
.temp_form {
    width: 60%;
    position: relative;
    margin: 10rem auto 6rem;
}

.temp_form input[type="text"] {
    width: 100%;
    padding: 2rem 5rem 2rem 2rem;
    background: #1e202b;
    color: white;
    outline: none;
    border: none;
    font-size: 2rem;
    border-radius: 3rem;
}

::placeholder {
    color: #bfc1c8;
}

.temp_form input[type="submit"] {
    position: absolute;
    top: 5px;
    right: 5px;
    bottom: 5px;
    border: none;
    background: #009ad8;
    padding: 0 3rem;
    border-radius: 3rem;
    color: white;
    font-size: 1.6rem;
}

.temp_form input[type="submit"]:hover {
    color: #009ad8;
    background-color: aliceblue;
}




/* Output Area */
.tempInfo {
    width: 60rem;
    margin: auto;
    min-height: 20rem;
    background-color: #323544;
    border-radius: 1rem;
    /* font-family: ; */
}

.top_layer {
    width: 100%;
    height: 20%;
    background-color: #2d303d;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 1rem;
}

.top_layer p {
    color: #fff;
    font-weight: 300;
    padding: 2rem;
    font-size: 1.3rem;
}

.main_layer {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    padding: 2rem;

}

.main_layer #cityNameInOutput {
    padding: 2rem 0;
    color: #bfc1c8;
    font-weight: 300;
    font-size: 2rem;
}

.main_layer .middle_layer {
    display: flex;
    justify-content: space-around;
    color: #fff;
}

.main_layer .middle_layer p,
.main_layer .middle_layer .fa {
    font-size: 7rem;
    font-weight: 900;
}

.fa {
    color: #009ad8;
}

sup {
    font-size: 6rem;
    margin-top: -2rem;
}

/* 
.data_hide {
    visibility: hidden;
    transition: all 0.3s linear;
} */

/* Error Img */
.errorImg {
    width: 55rem;
    height: 35rem;
    display: flex;
}




/* Footer Styling*/
footer {
    width: 100%;
    background-color: var(--main-bg);
    margin-top: auto;
    font-size: 1rem;
}

footer p {
    margin: 0;
    text-align: center;
    color: aliceblue;
    line-height: 5rem;
}


/* Device-wise Responsiveness */
@media(max-width:768px) {
    .main_header_left {
        height: auto;
        margin: 5rem 0;
    }

    .main_header_right {
        height: auto;
        margin: 3rem 0;
    }

    .temp_form {
        width: auto;

    }

    .tempInfo {
        width: auto;
    }
}