*{
  width: 100%;
  padding: 0%;
  margin: 0%;
}
html {
    scroll-behavior: smooth;
  }  
  .scroll-top {
    height: 50px;
    width: 50px;
    background-color: white;
    position: fixed;
    bottom: 10px;
    right: 10px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.336);
    /* hover effect default */
    transform: scale(0.9);
    transition: 0.3s ease-in-out transform;
    /* for centering the icon */
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .scroll-top svg {
    width: 50%;
    color: black;
    pointer-events: none;
  }
  
  .scroll-top:hover {
    transform: scale(1);
  }
  
 /* Quote */
 .Quote {
  display: flex;
  color: #000;
  font-family: monospace;
  flex-direction: column;
}
#quote {
  text-align: center;}
#author {
  float: right;
  color: #000;
  font-weight: bold;
  margin-top: 10px;
}
