*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  font-family: monospace;
  font-size: 100%;
}
body{
  background-image: url(./images/background.gif);
  display: flex;
  width: auto;
  height: auto;
}
img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
section{
  min-height:100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 100px 0;
}
.container{
  background-color: lightgrey;
  width: 90%;
  max-width: 900px;
  margin: 0 auto;
  box-shadow: 0px 0px 61px 7px #5e849c40;
  padding: 50px 20px;
  border-radius: 20px;
  text-align: center;
}

.header{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header img{
  cursor: pointer;
  width: 150px;
  height: 150px;
}
form{
  margin-top: 30px;
  width: 80%;
  max-width: 300px;
  position: relative;
}
input{
  border: none;
  border-bottom: 2px solid hsl(233, 23%, 22%);
  font-size: 20px;
  width: 100%;
  outline: none;
  color: #2c2f46;
  background-color: transparent;
}
input::placeholder{
  opacity: .5;
  color: #2c2f46;
  font-family: monospace;
}
form ion-icon{
  position: absolute;
  right: 0;
  font-size: 20px;
  opacity: .5;
  color: #2c2f46;
}
.gallery{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr)) ;
  margin-top: 25px;
  grid-gap: 20px;
  border-radius: 20px;
}
.item{
  width: 100%;
  height: 90%;
  position: relative;
  overflow: hidden;
  border-radius: 20px;
  transition: .3s ease box-shadow;
}

.item:hover{
  box-shadow: 0px 0px 20px 3px #7c93ad;
}
.item:nth-last-child(1){
  margin-bottom: 0;
}
.item h3{
  width: 100%;
  padding: 20px;
  position: absolute;
  background-color: azure;
  color: #2c2f46;
  bottom: -70px;
  font-weight: 300;
  transition: .5s ease-in-out bottom;
}
.item:hover h3{
  bottom: 0;
}
.load-more{
  display: inline-block;
  margin-top:30px;
  padding: 20px 50px;
  background-color: #2c2f46;
  text-decoration: none;
  font-size: large;
  color: azure;
  font-weight: 500;
  cursor: pointer;
  border-radius: 20px;
}
@media only screen and (min-width: 900px){
 .container{
   max-width: 1160px;
   padding: 100px;
 }
 .header{
   flex-direction: row;
   justify-content: space-between;
 }
 .header h1{
   font-size: 50px;
   font-family: monospace;
 }
 .header input{
   font-size: 24px;
 }
 .header ion-icon{
   font-size: 24px;
 }
 .gallery{
   grid-gap: 30px;
 }
 button{
  font-size: 1.5rem;
  padding: 10px;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
}
}